{% extends 'courses/base.html' %}
{% block content %}
<style>
     .btn {
        background: #5a67d8 !important;
        border: none !important;
        border-radius: 50px !important;
        padding: 0.75rem !important;
        font-weight: 600 !important;
  }
  .btn:hover {
        background: #4c51bf !important;
        transform: translateY(-3px) !important;
        box-shadow: 0 10px 20px rgba(90, 103, 216, 0.4) !important;
    }
</style>
<div class="container mt-4">
    <h3>Voulez-vous vraiment supprimer : <strong>{{ course.title }}</strong> ?</h3>
    <p>Cette action est irréversible.</p>

    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Supprimer</button>
        <a href="{% url 'course_detail' course.id %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
